/* ========================================= */
/* MODE CLAIR (Par défaut)                   */
/* ========================================= */

/* Supprimer l'image polygonale de Keycloak et forcer le fond clair */
body, 
.login-pf body,
#keycloak-bg, 
.pf-v5-c-login {
    background-image: none !important;
    background-color: #f3f4f6 !important;
}

/* Carte de connexion claire avec bordure verte */
.pf-v5-c-login__main,
.login-pf-page .card-pf {
    background-color: #ffffff !important;
    border-top: 4px solid #166534 !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
}

/* Inputs clairs */
.pf-v5-c-form-control,
input[type="text"],
input[type="password"] {
    background-color: #f9fafb !important;
    color: #1f2937 !important;
    border: 1px solid #e5e7eb !important;
}

/* Boutons et Liens (Vert institutionnel) */
.pf-v5-c-button.pf-m-primary, 
#kc-login,
input[type="submit"] {
    background-color: #166534 !important;
    border-color: #166534 !important;
    color: #ffffff !important;
}

.pf-v5-c-button.pf-m-primary:hover, 
#kc-login:hover,
input[type="submit"]:hover {
    background-color: #14532d !important;
}

a {
    color: #166534 !important;
}

/* ========================================= */
/* MODE SOMBRE (Adaptation auto du système)  */
/* ========================================= */
@media (prefers-color-scheme: dark) {
    
    body, 
    .login-pf body,
    #keycloak-bg, 
    .pf-v5-c-login {
        background-color: #111827 !important;
    }

    .pf-v5-c-login__main,
    .login-pf-page .card-pf {
        background-color: #1f2937 !important; 
        border-top: 4px solid #22c55e !important; 
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5) !important;
    }
    
    #kc-header-wrapper,
    .pf-v5-c-login__main *,
    .login-pf-page .card-pf * {
        color: #f9fafb !important;
    }

    .pf-v5-c-form-control,
    input[type="text"],
    input[type="password"] {
        background-color: #374151 !important; 
        color: #f9fafb !important;
        border: 1px solid #4b5563 !important;
    }
}

/* Bouton œil en mode sombre */
    .pf-v5-c-button.pf-m-control {
        background-color: #374151 !important; 
        color: #d1d5db !important; /* Gris clair pour contraster avec le fond sombre */
        border: 1px solid #4b5563 !important;
        border-left: none !important;
    }

    .pf-v5-c-button.pf-m-control:hover {
        color: #22c55e !important; /* Vert vif au survol */
    }